<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="./stylesheets/normalize.css">
        <link rel="stylesheet" type="text/css" href="./stylesheets/grid.css">
        <link rel="stylesheet" type="text/css" href="./stylesheets/ionicons.min.css">
        <link rel="stylesheet" type="text/css" href="./stylesheets/index.css">
        <link rel="stylesheet" type="text/css" href="./stylesheets/queries.css">
        <link rel="shortcut icon" href="./images/favicon/faveu-favicon.ico" type="image/x-icon">
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="./javascripts/index.js"></script>
        <title>FaveU</title>
    </head>
    <body>
        <header>
            <nav>
                <div class="row">
                    <a href="https://www.faveu.com"><img src="./images/logo/faveu-logo-wo-text.svg" alt="faveu logo" class="cls-logo"></a>
                    <ul class="main-nav js--main-div">
                      <li><a href="#id-features">About</a></li>
                      <li><a href="#works">How it works</a></li>
                      <li><a href="#">Get the App</a></li>
                    </ul>
                    <a class="mobile-nav-icon js--mobile-btn"><i class="ion-navicon-round"></i></a>
                </div>
            </nav>
            <div class="cls-maintext-box">
                <h1>Path to making hearts connect</h1>
            </div>
            <div class="cls-heart-div">
                <img src="./images/mainpage/heart.png" alt="heart" class="cls-heart"  style="display: none">
            </div>
        </header>

        <section class="cls-section-features js--features" id="id-features">
            <div class="row">
                <h2>Probe, Discover, Connect</h2>
                <p class="cls-about">FaveU is a social entertainment application that allows you to discreetly connect with someone from your circle of friends who holds a special place in your heart. Whether it is for checking friendships, affirming romantic interests, or playing harmless jokes, it is a fun way to find out if your person of interest has mutual feelings towards you</p>
            </div>

            <div class="row">
                <div class="col span-1-of-4 box box-image">
                    <img src="./images/mainpage/love_leaf1.jpg" alt="faveu love" class="cls-logo">
                </div>
                <div class="col span-1-of-4 box">
                  <!-- <i class="ion-ios-film icon-big"></i> -->
                    <i class="ion-ios-search-strong icon-big"></i>
                    <h3>Probe</h3>
                    <p>Covertly investigate their feelings towards you by concealing yourself among the list of friends or acquaintances.</p>
                </div>
                <div class="col span-1-of-4 box">
                    <i class="ion-ios-location icon-big"></i>
                    <h3>Discover</h3>
                    <p>Find out directly from them whether they reciprocate your feelings. Did they choose you, or did they choose someone else?</p>
                </div>
                <div class="col span-1-of-4 box">
                    <i class="ion-network icon-big"></i>
                    <h3>Connect</h3>
                    <p>When your hearts align, connect with each other in ways more solidly and intimately than ever before. If your hearts don't align, it remains a secret so there is no harm done to your original relationship.</p>
                </div>
            </div>
        </section>

        <section class="cls-section-works" id="works">
            <div class="row cls-howwork">
                <h2>HOW IT WORKS</h2>
            </div>

            <div class="row">
                <div class="col span-1-of-2 steps-box cls-avatar-img">
                    <img src="./images/mainpage/faveu_avatar.jpg" alt="avatar logo" class="cls-avatar">
                    <!-- <img src="./images/mainpage/icon-cellphone.png" alt="iphone logo" class="cls-phone"> -->
                </div>
                <div class="col span-1-of-2 steps-box">
                    <div class="works-step">
                        <div>1</div>
                        <p>Get the contact info (email) of the one (your FaveU) whose heart you want to investigate.</p>
                    </div>
                    <div class="works-step">
                        <div>2</div>
                        <p>Get the names of your FaveU’s friends. They will be your "competition". Generate a selection list with your name and your "competition" names.</p>
                    </div>
                    <div class="works-step">
                        <div>3</div>
                        <p>Send the list to your FaveU for them to pick their favorite from the list.</p>
                    </div>
                    <div class="works-step cls-short-p">
                        <div>4</div>
                        <p>Wait for your FaveU to make a selection.</p>
                    </div>
                    <div class="works-step">
                        <div>5</div>
                        <p>If you are picked, you are matched with your FaveU. Otherwise, your FaveU’s selection remains a secret.</p>
                    </div>

                    <a href="#" class="btn-app"><img src="./images/mainpage/download-app.svg" alt="App Store Button"></a>
                    <a href="https://play.google.com/store/apps/details?id=com.faveu.faveu" class="btn-app"><img src="./images/mainpage/download-app-android.png" alt="Play Store Button"></a>
                </div>
            </div>

            <div class="row cls-story-title">
                <h3>A FaveU's Story</h3>
            </div>
            <div class="row cls-story-example">
                <div class="col span-1-of-4 box story-image">
                    <i class="ion-filing icon-big"></i>
                    <p>A person, <strong>Jackson</strong>, has positive feelings towards <b>Emma</b>, someone in his circle of friends; however, <b>Jackson</b> doesn't know whether <b>Emma</b> shares the same feelings towards him. Hence, he decides to use FaveU and send a FaveU to <b>Emma</b> in order to know <b>Emma's</b> feelings discreetly.</p>
                    <img src="./images/avatar/avatar19.png" alt="sun" class="cls-story">
                </div>
                <div class="col span-1-of-4 box">
                    <p>In this example, <b>Emma</b> will become <b>Jackson's</b> "Your FaveU". <b>Jackson</b> knows that <b>Emma's</b> other friends include Lucas, Caden, and Noah. In this case, Lucas, Caden, and Noah will be <b>Jackson's</b> "competition".</p>
                    <p><b>Jackson</b> provides his name and email for FaveU's user information with his selected avatar and <b>Emma's</b> name and email for his "Your FaveU" in the app. For the "competition" list, <b>Jackson</b> puts Lucas, Caden, and Noah (their emails are not needed) with their selected avatars.</p>
                </div>
                <div class="col span-1-of-4 box">
                    <p>After <b>Jackson</b> completes his submission, FaveU emails <b>Emma</b> with a selection list of <b>Jackson</b>, Lucas, Caden, and Noah in a random order, and if <b>Emma</b> already has the app downloaded, will send a notification to open the selection list in the app directly as well.</p>
                    <p><b>Emma</b> cannot and will not know who sent the FaveU to her, unless <b>Emma</b> selects <b>Jackson</b> - in which case, FaveU will let both <b>Jackson</b> and <b>Emma</b> know that the match succeeded.</p>
                </div>
                <div class="col span-1-of-4 box">
                    <p>If <b>Emma</b> selects Lucas, Caden, or Noah (and not the original FaveU's sender, <b>Jackson</b>), FaveU will simply let <b>Jackson</b> know that the match failed, and not the details of <b>Emma's</b> pick, to protect <b>Emma's</b> privacy. If <b>Emma</b> does not wish to use FaveU's service, there is an option to reject the service.</p>
                    <p>FaveU is designed not to harm the original relationship even if a match fails. FaveU can be used as a simple and harmless joke, between friends, or for romantic interests.</p>
                </div>
            </div>
        </section>

        <footer>
            <div class="row">
                <div class="col span-1-of-2">
                    <ul class="footer-nav">
                        <li><a href="https://www.faveu.com/contact">Contact Us</a></li>
                        <li><a href="https://www.faveu.com/termsofuse">Terms of Use</a></li>
                        <li><a href="https://www.faveu.com/privacy-policy">Privacy Policy</a></li>
                    </ul>
                </div>
                <div class="col span-1-of-2">
                    <ul class="social-links">
                        <li><a href=""><i class="ion-social-facebook"></i></a></li>
                        <li><a href=""><i class="ion-social-twitter"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <p>Copyright &copy; 2017 by WindBowl LLC. All Rights Reserved</p>
            </div>
        </footer>
    <script src="https://cdn.jsdelivr.net/gh/jquery/jquery@3.2/dist/jquery.min.js"></script>
    <script src="./javascripts/jquery.waypoints.min.js"></script>
    </body>
</html>
