<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/stylesheets/sorry_style.css">
  <link rel="shortcut icon" href="/images/favicon/faveu-favicon.ico" type="image/x-icon">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- <script src="/javascripts/sorry_landing.js"></script> -->
  <title>FaveU</title>
</head>
<body id="id-emaillanding-body">

  <div class="cls-faveulogo" id="id-faveulogo">
      <a href="https://www.faveu.com"><img src="/images/logo/faveu-logo-white.svg" alt="faveu-logo-white" class="cls-faveulogo"></a>
  </div>

  <div class="cls-contain-div {{invitecard}}" id="id-contain-div" display="">
      <div id="id-message-nomoreselection-faveu" class="cls-message-nomoreselection-faveu" align="center">
        <h2>Sorry</h2>
        <h3>You already made your selection</h3>
        <h3>No more selection available for you</h3>
      </div>

  </div>
</body>
</html>
